$beige:beige;
$yellow:yellow;
$width:auto;
$height:30px;
$br: 10px solid white;
$br-red: 10px;
$width-main: 100%;
$height-main: 60vh;
$rel: relative;
$abs: absolute;
$col: column;
$mg-l: 15px;
$mg-t: 35px;