body{
	margin: 0;
	padding: 0;
}
#contaigner{
	width: 100%;
	height: 100vh;
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
  	flex-direction: column;
}
#main{
	width: 70%;
	height: 50%;
	display: flex;
}
.main-child{
	width: 50%;
	height: 100%; 
}
img{
	width: 90%;
	height: 100%;
}
#title{
	width: 70%;
	height: 70%;
}
#but-img{
	width: 85%;
	height: 30%;
	display: flex;
}
h1{
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
}
p{

}
.bug-img-child{
	width: 50%;
	height: 100%;	
}
.bug-img-child img{
	width: auto;
	height: 40px;
}
.bug-img-child{
	flex-direction: column;
}
a{
	text-decoration: none;
	width: 180px;
	height: 40px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #76c7c0;
}
ul li{
	display: flex;
	float: left;
	margin-top: 25%;
	margin-left: 10px;
  	width: 40px;
  	height: 40px;
  	border-radius: 50%;
  	background-color: lightgray;
}


